*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
}

.navsup{
    width: 1000px;
	margin: 30px auto;
	background: #fff;
    border-radius: 10px;
    text-align: center;
    font-family: 'Open sans';
}
.contenido{
   
    
}


body{
    display: block;
    background-image:url("../imagenes/body.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
        
     

}


header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
    border-radius: 10px;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
header h1{
    width: 1000px;
	margin: 30px auto;
	background: #fff;
    border-radius: 10px;
    text-align: center;
    font-family: 'Open sans';
/*	margin-left: 10%;
	width: 30%;
	display: inline-block;
	vertical-align: top;*/
}
h2{
   color: aliceblue; 
    font-family: 'Open sans'; 
}
a{color:crimson;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  

}
.button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

  
}
.button:after {
content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover  {
  padding-right: 25px;
}
.button:hover :after {
  opacity: 1;
  right: 0;
}
.close{
    padding: 10px;
    font-size: 19px;
    width: 150px;
    margin-left: 5em;
    
}