html {
	background-image:url(presets/fondo.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed;
}

*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1{
    font:normal 2.4em sans-serif; 
    text-align: center;
    opacity: 0.7;
    margin: 15px auto;
    color:rgba(0,0,0,0.4);
}

body{
    
  /* background: #DEDEDE;*/
/*    display: flex;*/
/*
    min-height:100vh;
*/
}

nav{
/*    opacity: 0.7;*/
    width:100%;
    margin:30px auto;
    font-size: 20px;
    text-align: center;
/*    background: linear-gradient(#FFDA63,#FFB940); */
    background-color:rgba(0,0,0,0.51);
}
#op1
{
    border:0;
    opacity: 0.8;
    color:white;
    cursor:pointer;
    border-radius:20px;
    margin-bottom: 0;
    list-style:none
    
}
#op1:hover{
    opacity: 1;
    color:crimson;
}
#op1:active{
    transform: scale(0.95);
}
#op2
{
    
    border:0;
    opacity: 0.8;
    color:white;
    cursor:pointer;
    border-radius:20px;
    margin-bottom: 0;
    list-style:none
    
}
#op2:hover{
    opacity: 1;
    color:crimson;}
#op2:active{
    transform: scale(0.95);
}
form a{
    color: aliceblue;
        }
form{
    margin:auto;
    width:50%;
    max-width: 500px;
    background-color:rgba(0,0,0,0.51);
    padding: 30px;
    border:1px solid rgba(0,0,0,0.2);
    display:none;
    
}


input{
    text-align: block;
    padding:10px;
    width:100%;
    margin:30px 0;
    font-size: 20px;
    
    
    }
input#remember{
    

    width:100px;
    height:20px;
}

input.error{
    text-align: block;
    padding:10px;
    width:100%;
    margin:30px 0;
    font-size: 20px;
    background-color:#F78182;
    border: 0px;
    }
input.error::-webkit-input-placeholder{
	color:white;
}

/*
input[type="checkbox"]{
    
    padding:10px;
    width:100%;
    margin:30px 0;
    
}
*/
input[type="submit"]{
    background: linear-gradient(#FFDA63,#FFB940);
    border:0;
    opacity: 0.8;
    color:brown;
    cursor:pointer;
    border-radius:20px;
    margin-bottom: 0;
    
}

input[type="submit"]:hover{
    opacity: 1;
}
input[type="submit"]:active{
    transform: scale(0.95);
}


@media (max-width:768px){
    form{
        width:75%;
    }
}
@media (max-width:480px){
    form{
        width:95%;
    }
}
